/*
Author: Maximiliano Báez
Version: 1.0
*/


/***********************************************************************
 ***********************************************************************
 * Se inlcuye el css de los iconos
 ***********************************************************************
 ***********************************************************************/
@import url("font-awesome.css");
/***********************************************************************
 ***********************************************************************
 * Se inlcuye el base de bootstrap
 ***********************************************************************
 ***********************************************************************/
@import url("bootstrap.css");
/***********************************************************************
 ***********************************************************************
 * Se inlcuye el css del lib de jquery
 ***********************************************************************
 ***********************************************************************/
@import url("pnotify.css");

#page-body{
    margin-top:80px;
}
